:root {
	--primery-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--revtext-color: #fff;
	--copyr-color: rgba(255, 255, 255, 0.4);
}

body {
	margin: 0;
	background-color: #fff;
	color: var(--title-text-color);
	font-family: Roboto, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-inline-start: 0px;
}

/* цвет лого-1 #2196F3 */
/* цвет лого-2 #212121 */
/* цвет заголовков #212121 */
/* цвет абзацев  #757575 */
/* белый #FFFFFF; */
/* акцент  #2196F3; */
/* цвет копирайта rgba(255, 255, 255, 0.4) */
.text {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--primery-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.white-font {
	color: #fff;
}
.revtext-color {
	color: var(--revtext-color);
	font-family: Raleway, sans-serif;
	font-size: 22px;
	line-height: 1.18;
	letter-spacing: 0.03em;
}
.back-hero-color {
	background-color: rgba(47, 48, 58, 0.8);
}
.back-zone-color {
	background-color: #f5f4fa;
}
.footer {
	background-color: #2f303a;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

/* Header */

.page-header {
	border-bottom: 1px solid #ececec;
}
.main-logo {
	display: flex;
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo-partone {
	color: var(--accent-color);
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-partone-bottom {
	color: var(--accent-color);
	font-family: Raleway, sans-serif;
	font-size: 22px;
	line-height: 1.18;
	letter-spacing: 0.03em;
}

.logo-parttwo {
	color: var(--title-text-color);
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.main-nav {
	display: flex;
	align-items: center;
}

/* Навигация */

.site-nav {
	display: flex;
	margin-left: 85px;
}
.site-nav .item:not(:last-child) {
	margin-right: 50px;
}
.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}
.site-nav .link.current {
	color: var(--accent-color);
}
.auth-nav {
	display: flex;
	margin-left: auto;
	cursor: pointer;
}
.auth-nav .item + .item {
	margin-left: 30px;
}
.auth-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--primery-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.auth-nav .link:hover {
	color: var(--accent-color);
}
/* Герой */
.hero {
	background-color: rgba(47, 48, 58, 0.8);
	text-align: center;
}
.hero-title {
	margin-top: 0;
	margin-bottom: 46px;
	color: var(--revtext-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;

	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.button {
	display: inline-block;
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 136px;
	color: #fff;
	background: var(--accent-color);
	font-weight: bold;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
	color: black;
}

/* Секция */
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title {
	margin-top: 0;
	margin-bottom: 50px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

/* Преимущества */
.feature-list {
	display: flex;
}

.feature-box {
	width: calc((100%-3 * 30px) / 4);
}

.feature-box:not(:last-child) {
	margin-right: 30px;
}

.feature-title {
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.feature-list .text {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* Чем мы занимаемся */
.work-list {
	display: flex;
}
.work-box {
	width: calc((100%-2 * 30px) / 3);
}
.work-title {
	display: inline-block;
	text-align: center;
	width: 370px;
	color: #fff;
	background-color: rgba(47, 48, 58, 0.8);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
/* Команда */
.team-list {
	display: flex;
	text-align: center;
}
.team-card {
	width: calc((100%-3 * 30px) / 4);
}

.team-title {
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.team-text {
	margin-top: 0px;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.team-media {
	display: flex;
	justify-content: center;
	color: var(--revtext-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: none;
}

.team-media .link {
	color: var(--primery-text-color);
	text-transform: none;
}
.team-media .link:hover {
	color: var(--accent-color);
}
/* Наши клиенты */

.clients-list {
	display: flex;
}
.clients-box {
	width: calc((100%-5 * 30px) / 6);
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
}
.clients-box + .clients-box {
	margin-left: 30px;
}

/* футер */
address {
	font-style: normal;
}
.footer {
	padding-top: 56px;
	padding-bottom: 21px;
}

.address-block {
	display: flex;
	align-items: baseline;
}

.footer-text {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 0px;
	color: var(--revtext-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.footer .link {
	display: inline-block;
	margin-top: 9px;
	color: var(--copyr-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.media-title {
	display: inline-block;

	margin-left: 69px;
	margin-bottom: 24px;
	color: var(--revtext-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.media-connect {
	display: flex;
	align-items: center;
	margin-left: 69px;
}
.media-connect .link {
	color: var(--primery-text-color);
	text-transform: none;
}
.media-connect .link:hover {
	color: var(--accent-color);
}

.copyr-color {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: 28px;
	margin-bottom: 0px;
	padding-top: 18px;
	color: var(--copyr-color);
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	text-align: center;
	letter-spacing: 0.03em;
}
/* Портфолио */

.section-portfolio {
	padding-top: 106px;
	padding-bottom: 81px;
}
.hero-portfolio {
	margin: 0;
	color: var(--revtext-color);
}
.button-filters {
	display: flex;
	justify-content: center;
	padding-bottom: 34px;
}
.button-primery {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.26;
	text-align: center;
	letter-spacing: 0.03em;
	border-radius: 4px;
	padding: 6px 22px;
	color: var(--title-text-color);
	background-color: var(--revtext-color);
}
.button-primery:hover,
.button-primery:focus {
	background-color: var(--accent-color);
	color: var(--revtext-color);
}

.projects {
	display: flex;
	flex-wrap: wrap;
}
.projects-box {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.projects-box:nth-child(3n) {
	margin-right: 0px;
}

.portfolio-title {
	margin-top: 0;
	margin-bottom: 4px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-text {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--primery-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
}
